<div *ngIf="this.tf.edit_picked_event">
    <div>
        Edytujesz event {{this.event.id}}: <br>
    </div>
    <div>
        <input [(ngModel)]="this.event.name" placeholder="Name">
    </div>
    <div>
        <textarea maxlength="60" [(ngModel)]="this.event.description" placeholder="Description"></textarea>
    </div>
    <div>
        <input [(ngModel)]="this.event.place" placeholder="Place">
    </div>
    <div>
        {{this.data.error}}
    </div>
    <button (click)="editEventButton()">Confirm&Back</button>
    <button (click)="editPointsButton()">Edit Points</button>
</div>

<div *ngIf="this.tf.edit_picked_event_points">
    Edytujesz punkty eventu {{this.event.id}}: <br>
    <li *ngFor="let i of pointList">
        {{i.name}}, {{i.id}}
        <button (click)="editPoint(i.id)">Edit</button>
        <button (click)="deletePoint(i.id)">Delete</button>
    </li>
</div>

<div *ngIf=this.tf.edit_one_point>
        <div>
            Edytujesz punkt {{this.nr}}: <br>
        </div>
        <div>
            <input [(ngModel)]="this.onePoint.name" placeholder="Name">
        </div>
        <div>
            <textarea maxlength="60" [(ngModel)]="this.onePoint.description" placeholder="Description"></textarea>
        </div>
        <div>
            <input [(ngModel)]="this.onePoint.place" placeholder="Place">
        </div>
        <div>
            {{this.data.error}}
        </div>
        <button (click)="editPointConfirm()">Confirm</button>
        <button (click)="cancelEditPoint()">Back</button>
    </div>
<br>
<br>
<button (click)="backButton()">Exit edition</button>