.card {
  width: 340px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}


.card-image {
  height: 250px;
  margin: auto;
  width: 100%;
  text-align: center;
}

.card-image img {
  height: 250px;
}
