<div class="d-flex justify-content-around flex-wrap">
  <div class="card" *ngFor="let event of eventList">
    <div class="card-image">
      <img [src]="eventsFirstImages[event.id] | safe" alt="BRAK ZDJĘĆ" (error)="altImage(event.id)">
    </div>
    <div class="card-body">
      <h5 class="card-title">{{event.name}}</h5>
      <p class="card-text">{{event.shortDescription}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><label>Data rozpoczęcia: </label> <span [ngStyle]="{'color': isPast(event.startDate) && isPast(event.endDate) ? 'red' : isPast(event.startDate) ? 'blue' : ''}"> {{getDate(event.startDate)}}</span></li>
      <li class="list-group-item"><label>Data zakończenia: </label> <span [ngStyle]="{'color': isPast(event.endDate) ? 'red' : ''}"> {{getDate(event.endDate)}}</span></li>
      <li class="list-group-item"><label>Miejsce: </label> {{event.place}}</li>
    </ul>
    <div class="card-body">
      <div class="buttons">
        <button type="button" (click)="eventDetails(event.id)" class="btn btn-outline-primary btn-sm">Więcej</button>
        <button type="button" (click)="deleteEvent(event.id)" class="btn btn-outline-danger btn-sm">Usuń</button>
      </div>
    </div>
  </div>
</div>
