<div class="map">
    <agm-map [longitude]="lng" [latitude]="lat" (mapClick)="onChoseLocation($event)" [zoom]="zoom">
        <div *ngIf="this.isMarkerVisible">
            <agm-marker [latitude]="this.lat" [longitude]="this.lng" [markerDraggable]=false
                (dragEnd)="dragOneMarker($event)">
            </agm-marker>
        </div>
        <div *ngIf="this.isListVisible">
            <div *ngFor="let i of this.pointList">
                <agm-marker [latitude]="i.geographicCoordinate.latitude" [longitude]="i.geographicCoordinate.longitude"
                    [markerDraggable]=false (markerClick)="markerClick(i.id)" (dragEnd)="markerDrag($event, i.id)">
                    <agm-info-window [isOpen]="checkMarkerId(i.id)" [latitude]="i.lat" [longitude]="i.lng">
                        <a>
                            <div class="d-flex justify-content-around flex-wrap">

                                <div class="card-body">
                                    <h5 class="card-title">{{i.name}}</h5>
                                    <p class="card-text">{{i.shortDescription}}</p>
                                    <p class="list-group-item">Miejsce: {{i.place}}</p>
                                </div>
                                <div class="card-body">
                                    <div class="buttons">
                                        <button type="button" (click)="pointDetails(i.id)"
                                            class="btn btn-outline-primary btn-sm">Więcej</button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </agm-info-window>
                </agm-marker>
            </div>
        </div>
    </agm-map>
</div>