<div class="container main-box">
  <div class="titles">
  <h1>Panel administratora</h1>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <button type="button" class="btn btn-outline-dark btn-sm" (click)="openNewEvent()">Dodaj wydarzenie</button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-outline-dark btn-sm" (click)="importCSV()">Importuj z CSV</button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-outline-dark btn-sm" (click)="exportCSV()">Exportuj do CSV</button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-outline-dark btn-sm" (click)="logout()">Wyloguj</button>
      </li>
    </ul>
  </div>
  <app-events></app-events>
<!--  <app-map *ngIf=tf.map_c_show id="map"> </app-map>-->
<!--  <app-click></app-click>-->
</div>
