<div class="container main-box">
  <div class="titles">
  <h1>Panel administratora</h1>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="event/new">Dodaj wydarzenie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Importuj z CSV</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Exportuj do CSV</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()" href="product">Wyloguj</a>
      </li>
    </ul>
  </div>
  <app-events></app-events>
<!--  <app-map *ngIf=tf.map_c_show id="map"> </app-map>-->
<!--  <app-click></app-click>-->
</div>
