::-webkit-input-placeholder {
  opacity: 0.3 !important;
}

:-moz-placeholder {
  opacity: 0.3 !important;
}

::-moz-placeholder {
  opacity: 0.3 !important;
}

:-ms-input-placeholder {
  opacity: 0.3 !important;
}

::-ms-input-placeholder {
  opacity: 0.3 !important;
}

::placeholder {
  opacity: 0.3 !important;
}
