<div>
  <div *ngIf="tf.add_point_show2">
    <div>
      Dodaj nowy event:
    </div>
    <div>
      <input [(ngModel)]="data.name" placeholder="Name">
    </div>
    <div>
      <textarea maxlength="60" [(ngModel)]="data.description" placeholder="Description"></textarea>
    </div>
    <div>
      <input [(ngModel)]="data.place" placeholder="Place">
    </div>
      <div> 
        {{this.cords.error}}
      </div>
    <button (click)="onButtonClick(1)">Add</button>
    <button (click)="onButtonClick(2)">Back</button>
  </div>
  <div *ngIf="tf.add_point_show1">
    <h2>New event: </h2>
    <h1>Name: {{data.name}}</h1>
    <h1>Description: {{data.description}}</h1>
    <h1>Place: {{data.place}}</h1>
  </div>
</div>