<div class="container main-box">
  <div class="titles">
    <h1>{{this.event.name || 'Nowe wydarzenie'}}</h1>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <button type="button" class="btn btn-outline-dark btn-sm" (click)="addEvent()">Zapisz zmiany</button>
      </li>
      <li class="nav-item" *ngIf="!isNew">
        <button type="button" class="btn btn-outline-dark btn-sm" (click)="editPoints()">Punkty wydarzenia</button>
      </li>
      <li class="nav-item" *ngIf="!isNew">
        <button type="button" class="btn btn-outline-dark btn-sm">Usuń</button>
      </li>
      <li class="nav-item" *ngIf="!isNew">
        <button type="button" class="btn btn-outline-dark btn-sm">Dodaj zdjęcie</button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-outline-dark btn-sm" (click)="back()">Powrót</button>
      </li>
    </ul>
    <div style="color: green">
      {{this.data.error}}
    </div>
  </div>
  <div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Nazwa</label>
        <input [(ngModel)]="event.name" type="text" class="form-control" placeholder="Super wydarzenie">
      </div>
      <div class="form-group col-md-6">
        <label>Miejsce</label>
        <input [(ngModel)]="event.place" type="text" class="form-control" placeholder="Toruń">
      </div>
    </div>
    <div class="form-group">
      <label>Krótki opis</label>
      <input [(ngModel)]="event.shortDescription" type="text" class="form-control" placeholder="...">
    </div>
    <div class="form-group">
      <label>Opis</label>
      <input [(ngModel)]="event.description" type="textarea" class="form-control" placeholder="...">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Godziny otwarcia</label>
        <input [(ngModel)]="event.openingHours" type="text" class="form-control" placeholder="PON-PT 10:00 - 15:00">
      </div>
      <div class="form-group col-md-4">
        <label>Cena</label>
        <input [(ngModel)]="event.price" type="text" class="form-control" placeholder="20PLN">
      </div>
      <div class="form-group col-md-2">
        <label>Minimalny wiek</label>
        <input [(ngModel)]="event.minAge" type="number" class="form-control" placeholder="6">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Data rozpoczęcia</label>
        <input [(ngModel)]="event.startDate" type='text' class="form-control" placeholder="...">
      </div>
      <div class="form-group col-md-6">
        <label>Data zakończenia</label>
        <input [(ngModel)]="event.endDate" type='text' class="form-control" placeholder="...">
      </div>
    </div>
  </div>
  <app-map></app-map>
  <div *ngIf="!isNew">
    <div id="carouselExampleFade" class="images carousel slide carousel-fade w-50" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/images/empty-image.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/images/empty-image.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="assets/images/empty-image.png" class="d-block w-100" alt="...">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Poprzedni</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Następny</span>
      </a>
    </div>
  </div>
</div>
