<div>
  <div class="person">
    <img src="assets/images/business-img.png">
  </div>
  <div class="login-form">
    <div class="form">
      <h2 class="text-center">Podaj nowe hasło</h2>
      <div class="form-group">
        <input [(ngModel)]="this.model.email" type="text" class="form-control" placeholder="Email" required="required" email="true">
      </div>
      <div class="form-group">
        <input [(ngModel)]="this.model.newPassword" type="password" placeholder="Hasło" class="form-control" required="required">
      </div>
      <div class="form-group">
        <input [(ngModel)]="this.confirmPassword" type="password" placeholder="Powtórz hasło" class="form-control" required="required">
      </div>
      <div class="form-group">
        <button (click)="send()" type="submit" class="btn btn-danger btn-block">Zapisz</button>
      </div>
      <div class="text-center" style="width: 100%; margin-top: 15px;">
        <a href="product" class="color-red">Wróć na stronę główną</a>
      </div>
      <div *ngIf="error" class="error" style="margin-top: 15px;">
        {{this.error}}
      </div>
      <div *ngIf="success" class="success" style="margin-top: 15px;">
        {{this.success}}
      </div>
    </div>
  </div>
</div>
