button {
    background-color: #4CAF50;
    border: 1px solid green;
    color: white;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}
.activeButton {
    clear: both;
}

div {
    padding: 5px;
    font-size: 16px;
    border: 10%;
}

li {
    padding: 2px;
    list-style-type: square;
}

.map {
    padding: 10px;
}
body {
    position: relative;
    background-color: whitesmoke;
    margin: 20px;
}
h1 {
    font-size: 17px;
}
h2 {
    font-size: 20px;
}