<div>
  <div class="person">
    <img src="assets/images/business-img.png">
  </div>
  <div class="login-form">
    <div class="form">
      <h2 class="text-center">Logowanie</h2>
      <div class="form-group">
        <input [(ngModel)]="this.log.email" type="text" class="form-control" placeholder="Email" required="required">
      </div>
      <div class="form-group">
        <input [(ngModel)]="this.log.password" type="password" class="form-control" placeholder="Hasło"
               required="required">
      </div>
      <div class="form-group">
        <button (click)="login()" type="submit" class="btn btn-primary btn-block">Zaloguj</button>
      </div>
      <div class="clearfix">
        <label class="pull-left checkbox-inline"><input type="checkbox"> Zapamiętaj mnie</label>
        <a href="resetPassword/start" class="pull-right color-red">Zapomniałeś hasła?</a>
      </div>
      <div *ngIf="loginError" class="error">
        {{this.loginError}}
      </div>
    </div>
    <p class="text-center"><a href="register" class="color-red">Utwórz konto</a></p>
  </div>
</div>
