.logowanie {
 
    display: center;
    position: absolute;
   
 background: url("1.jpg") repeat center center fixed; 
    border-top-style: solid;
    border-bottom-style:solid;
    border-left-style:solid;
    border-right-style:solid;
    border-color:green;
    border-width: medium;
     max-width: 250px;
     margin: 0 0 80px;
    padding: 45px;
     text-align: center;
     box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    font-size: 4ex;
    width:35%;
    height: 25%;
    font-family: cursive;
   
      
    left: 15cm;
    top: 6cm;
   justify-content: center;
    align-items: center;
    flex-direction: column;
}